body {
	margin-left: 2vw;
	margin-right: 2vw;
}



header {
	font-weight: bold;
}

#mainHeader {
	height: 80px;
	background-color: black;
}

#headerName {
	font-family: 'Cinzel',serif;
	font-size: 50px;
	text-decoration: underline;
	color: red;
}
 #welcome {
 	background-color: yellow;
 }

 .logo {
 	height: 60px;
 	width: 60px;
 	border-radius: 30px;
 	float: left;
 	margin-right: 10px;
 }
 .searchField {
 	float: right;
 	padding: 5px;
 	margin: 10px 10px 0px 0px;
 }
.mainLayout {
    height: 575px;
    padding: 40px 48px!important;
    padding-top: 40px;
    padding-right: 48px;
    padding-bottom: 40px;
    padding-left: 48px;
	background-color: navy;
}
#aboutSections {
	position: relative;
	background-color: green;

}
