<div class="main-container">
  <div class="title-container">
    <h2>Which Brian do you want to see?</h2>
  </div>
  <div class="content-container">
    <div class="box">
      <div class="icon">
        <mat-icon class="fa fa-photo cursor" (click)="goToPhoto()">photo_camera</mat-icon>
      </div>
      <div class="content">
        <h3>Photographer</h3>
        <p>Landscape Photography has been a passion of mine since I started takeing
          for fun and later. I hope you enjoy the moments I was able to capture in Photograph
          as much as I enjoyed taking them.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <mat-icon class="fa fa-dev cursor">computer</mat-icon>
      </div>
      <div class="content">
        <h3>Frontend Developer</h3>
        <p>Web developement is an interest that I developed later in life but quickly became
          a passion that I have pursued and made a career out of. I have focused my developement
          in the Angular Framework with design library experience in Angular Material.
        </p>
      </div>
    </div>
  </div>
</div>
