<div class="main-container">
  <div class="title-container">
    <h1>Which Brian do you want to see?</h1>
  </div>
  <div class="content-container">
    <div class="box">
      <div class="icon">
        <mat-icon class="fa fa-photo cursor" (click)="goToPhoto()">photo_camera</mat-icon>
      </div>
      <div class="content">
        <h3>Photographer</h3>
        <p>Landscape Photography has been a passion of mine since I started taking photos
          for fun. I hope you enjoy the moments I was able to capture as much as I enjoyed taking them.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <mat-icon class="fa fa-dev cursor" routerLink="/content">computer</mat-icon>
      </div>
      <div class="content">
        <h3>Frontend Developer</h3>
        <p>Web developement is an interest that quickly became a passion to which I have pursued and made a career out of. I have focused my developement
          in the Angular Framework.
        </p>
      </div>
    </div>
  </div>
</div>
