<div class="main-container">
  <ul>
    <li>
      <div class="content">
        <h2>My Story</h2>
        <p>
          <strong>Software</strong> development was not something that I set my sights on at a young age but rather something that I stumbled upon later in life.
        </p>
        <p>
          <strong>From</strong> my own interest in all things related to the Internet and some much need encouragement from my friends, I made a realization that it was something worth pursuing.
        </p>
        <p>
          <strong>After</strong> a leap of faith, I have plunged myself into the vast world of Front End Development and have tried to learn at every turn my journey has taken.
        </p>
      </div>
    </li>
    <li>
      <div class="content">
        <h2>My Hobbies</h2>
        <p><strong>Photography</strong> has been a hobby that I have indulged in for many years. 
          I have learned the hard way that you should always have your camera with you but not always use it.
        </p>
        <p>
          <strong>Reading</strong> is a passion of mine since childhood. 
          With both of my parents being teachers I was doomed to the life of a bookworm.
        </p>
        <p>   
          <strong>Traveling</strong> is something that came hand in hand with my passion for reading. 
          Time after time I would read about places far off and want visit them and experience their cultures first hand.
        </p>
      </div>
    </li>
    <li>
      <div class="content">
        <h2>ANGULAR</h2>
        <h3>RECIPE BOOK</h3>
        <p>This project was developed with Udemy Angular 2/4 course that I took and completed. 
          The code scaffolding and build were done using Angular CLI. 
          The course work took roughly 22 hours and allowed me to fully understand the changes that were made from Angular 1 to Angular 2/4. 
          This application was deployed on AWS.
        </p>
        <button mat-raised-button (click)="navigateTo('ngRecipe')">Visit App</button>
      </div>
    </li>
    <li>
      <div class="content contact">
        <h2>My Information</h2>
        <button mat-raised-button (click)="navigateTo('linkedIn')">LINKEDIN</button>
        <button mat-raised-button (click)="navigateTo('gitHub')">GITHUB</button>
        <button mat-raised-button (click)="navigateTo('photoSite')">PHOTOGRAPHY WEBSITE</button>
        <button mat-raised-button routerLink="/">
          <mat-icon>arrow_back_ios</mat-icon>
          BACK TO HOME
        </button>
      </div>
    </li>
  </ul>

</div>
