.main-container {
  margin: 0;
  padding: 0;
}

ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #ccc;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul li {
  list-style: none;
  position: relative;
  width: 25%;
  height: 100%;
  border-right: 1px solid black;
  float: left;
  box-sizing: border-box;
  transition: .5s;
  text-align: center;
  overflow: hidden;
}

ul li:nth-child(1) {
  background: url(/assets/img/bnwwindowdesk.jpg);
  background-size: cover;
  background-position: center;
}
ul li:nth-child(2) {
  background: url(/assets/img/eagleCreekPond.jpg);
  background-size: cover;
  background-position: left;
}
ul li:nth-child(3) {
  background: url(/assets/img/alpacaFriends.jpg);
  background-size: cover;
  background-position: left;
}
ul li:nth-child(4) {
  background: url(/assets/img/workoutBuddha.jpg);
  background-size: cover;
  background-position: left;
}
ul:hover li {
  width: 10%;
}
ul li:hover {
  width: 70%;
}
ul li .content {
  position: absolute;
  bottom: -100;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.9);
  box-sizing: border-box;
  color: #fff;
  opacity: 0;
}

ul li:hover .content {
  bottom: 0;
  transition: .5s;
  transition-delay: .5s;
  opacity: 1;
}

.contact {
  display: flex;
  flex-direction: column;
}

strong {
  font-size: 18px;
}
button {
  background-color: black;
  color: white;
}
button:hover {
  background-color: #ccc;
  color: black;
}
