body {
	margin-left: 2vw;
	margin-right: 2vw;
	background-color: #545454
}

header {
	font-weight: bold;
}

#mainHeader {
	height: 80px;
	background-color: #545454;
}

#headerName {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 35px;
	letter-spacing: 0.5px;
	color: white;
	float: left;
}
#navBar {
	color: white
}
#header-links li {
	float: left;
	padding: 20px;
}
.header-link li a {
	display: block;
}
.header-link {
	font-size: 25px;
	color:black;

	&: hover {
		color: white;
	}
}
#separate {
	float: left;
	font-size: 50px;
}
#header-links {
	display: inline;
	list-style: none;
}

 #welcome {
 	background-color: 545454;
 }

 #socials {
 	float: right;
 	margin: 0px 5px 0px 5px;
 }

 .searchField {
 	float: right;
 	padding: 5px;
 	margin: 10px 10px 0px 0px;
 }
.mainLayout {
    height: 42vw;
    padding: 40px 48px!important;
    padding-top: 40px;
    padding-right: 48px;
    padding-bottom: 40px;
    padding-left: 48px;
	background-color: #545454;
}
#sideBar {
	position: relative;
	background-color: #2a3035;
	width: 275px;
    height: 605px;
    float: right;
}
#sideBarAbout {
	position: relative;
	background-color: #2a3035;
	height: 60px;
    float: right;
    margin-right: 10%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#sideBarAboutInfo {
	font-size: 25px;
	color: White;
}
#sideBarAboutInfo2 {
	font-size: 20px;
	color: white;
}
#sideBarName {
	font-size: 20px;
	color: white;
	text-decoration: underline;
}
#mobileNumber {
	font-size: 15px;
	color: white;
}
#email {
	font-size: 15px;
	color: white;
}

#mainPhoto {
	height: 600px;
	width: 75%;
	float: left;
} 

/*buttonStuff*/
